.header-contents {
    /* 背景色 */
    background-color: #6494edc8;
    /* 幅の設定 */
    width: 100%;
}

h1 {
    /* 文字を真ん中に配置 */
    text-align: center;
    /* 文字の大きさを設定 */
    font-size: 20px;
    /* フォント設定 */
    font-family: "Dela Gothic One", serif;
    background-color: red;
    width: 80%;
}